.carrousel {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #6699ff;
    padding: 20px;
}

@media screen and (min-width: 500px) {
    .carrousel {
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
        padding: 20px;
    }
    .carrousel__nav--left {
        left: 10px;
    }
    .carrousel__nav--right {
        right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .carrousel {
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }
}

.carrousel__x {
    color: white;
    position: absolute;
    right: 1;
    top: 2;
    padding: 5px 3px;
    display: block;
    border: 1px solid #000000;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(243, 24, 24);
    border-radius: 30%;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

.carrousel__figure {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-color: black;
}

.carrousel__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.carrousel__img.active {
    opacity: 1;
    visibility: visible;
}

.carrousel__radio {
    text-align: center;
    display: inline-block;
    margin: 60px 5px;
    cursor: pointer;
    color: #6699ff;
}

.carrousel__form {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    z-index: 9;
}

.carrousel--ouvrir {
    display: block;
}

.bouton__ouvrir {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(to right, #3364d4, #f4baf9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.carrousel__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #d5bbe4bd;
    border-radius: 30%;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}

.carrousel__nav--left {
    left: 50px;
}

.carrousel__nav--right {
    right: 50px;
}
